
  .files-container{
    display: grid;
    grid-template-columns: 4fr 20fr 1fr;
    grid-template-rows: 100px auto;
}

.document-header{
    background-color: black;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
        .documentssearch{
            width: 600px;
        }
}
.casepane-container{
    background-color: black;
    grid-column: 1/2;
    height: 100%;
    .header{
        padding-bottom: 3px;
        margin-bottom: 10px;
        padding-left: 10px;
        margin-top: 10%;
        img{
            width: 25px;
            padding-right: 5%;
            position: relative;
            top: 3px;
        }
        span{
            font-weight: bold;
            font-size: 1.5em;
            font-family: 'Raleway', sans-serif;
        }
    }
   
        .casepane-list{
            list-style-type: none;
            padding-left: 15px;
        }
        
        .list-items{
            font-size: 1.2em;
            font-family: 'Raleway', sans-serif;
            margin: 20px 0px;
            .links{
                text-decoration: none;
                color: white;
            }
            img{
                width: 25px;
                height: 25px;
                padding-right: 10%;
                position: relative;
                top: 0px;
            }
        .casetitle{
            padding-bottom: 10px;
        }
        ul{
            list-style: none;
            padding-left: 20px;
            }
            .show{
                cursor: pointer;
                padding-top : 8px;
                font-size : 0.8em;
            }
        }
        
        .list-item{
            cursor: pointer;
        }
        .items{
            position: relative;
            padding: 5px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            .links{
                text-decoration: none;
                color: white;
            } 
            .highlight-component{
                position: absolute;
                top:5px;
                right: 0px;
                background-color: red;
                height: 30px;
                width: 5px;
            }
        }
        .case-item-name{
            font-size: 0.9em;
        }
   
}
.notes-container{
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;    
        li{
            border-radius: 4px;
            width: 160px;
            height: 200px;
            background: #fcec8c;
            margin: 10px;
            color: black;
            display: grid;
            grid-template-rows: 1fr 10fr;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
            .note-title{
                padding: 4px;
                background: #e6ca70;
                text-align: center;
                font-weight: bold;
            }
            .note-body{
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 10px;
                padding: 10px;
            }
        }
    }
}
.cases-body{
    grid-column: 2/3;
    overflow: auto;
    .case-container{
        padding: 20px;
        padding-top: 0px;
        display : flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
        .links{
            text-decoration: none;
        }
        img{
        width : 50px;
        }
        p{
        color: #333;
        }
        .folder-containers{
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            cursor: pointer;
                .emphasize{
                    color: red;
                    font-size: 1.0em;
                    font-family: 'Raleway', sans-serif;
                }
                .case-name{
                font-size: 1.0em;
                font-family: 'Raleway', sans-serif;
                color : black;
                }
        }
        .add-button{
            padding: 20px;
            cursor: pointer;
        .add-label{
            font-size: 1.0em;
            font-family: 'Raleway', sans-serif;
            color : black;
            padding-left: 7px;
        }
    }   
}
.addcase{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
.caseform{
    align-self: center;
    height: 480px;
    color: black;
    width: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    .formheading{
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        padding: 10px;
        padding-top: 3%;
        padding-left: 5%;
        font-weight: bolder;
    }
    span{
        font-size: 1em;
        font-family: 'Roboto';
        color: lightcoral;
        padding-left:5%;
    }
    .placeholders{
        padding: 20px;
        input{
            width: 95%;
            height : 35px;
            border-radius: 5px;
            border-color: rgba(0, 0, 0, 0.404);
            border-width: 1px;
        }
        input::placeholder{
            font-size: 1.2em;
            font-family: 'Raleway', sans-serif;
           }
        input:focus{
            outline: none;
        }
    }
    .button{
        padding: 3% 3% 3% 5%;
    button{
    background-color: #1D1C1C;       
    border: none;
    width: 130px;
    height: 35px;
    border-radius: 5px; 
    color: white;
    font-size: 1em;
    cursor: pointer;
    button:focus{
        outline: none;
    }
    }
}
}
}
.caseinfo-container{
    position: relative;
.nav-status{
    font-weight: bold;
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;
    color : black;
    padding: 20px;
    padding-left: 50px;
}

.infobox{
    a{
        text-decoration: none;
    }
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    .infocontainer{
        border-radius: 10px;
        box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.404);
        height:140px;
        width: 100px;
        margin-left: 50px;
        margin-bottom: 20px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            font-family: 'Roboto',sans-serif;
            text-decoration: none;
            font-size: 3.5em;
        }
    }
    .actcontainer{
        border-radius: 5px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.404);
        height: 200px;
        width: 160px;
        margin-left: 30px;
        margin-bottom: 20px;
        color: black;
        overflow: hidden;
        .actinfo{
            height: 160px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            padding: 15px;
            .item{
                font-family: 'Roboto',sans-serif;
            }
            .head{
                text-align: center;
                font-size: 1.02em;
                font-weight: bold;
                border-bottom: 1px solid #1D1C1C ;
                padding-bottom: 5px;
            }
            .content{
                font-style: italic;
            }
            .actdata{
                font-size: 1em;
                padding-top: 4px;
            }
        }
    }
    
    h3{
        text-align: center;
        color: #1D1C1C;
        font-family: 'Roboto',sans-serif;
        padding-left: 30px;
    }    

}
}
.spacing{
    padding-top: 30px;
}
}

.sidepane-container{
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    height: 100%;
    width: 60px;
    z-index: 99;
    align-content: center;
    .sidepane-item{
        align-items: center;
        padding: 12px;
        margin-top: 5px;
        img{
            width: 35px;
            cursor: pointer;
        }
    }
}


.notepad{
    position: fixed;
    right: 70px;
    top: 95px;
    background-color: #fcec8c;
    width: 480px;
    height: 460px;
    margin-top: 10px;
    z-index: 99;
    display: grid;
    grid-template-rows: 1fr 14fr;
    border-radius: 3px;
    .imagepane{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        background: rgb(230, 202, 112);
        position: relative;
        .saved-text{
            position: absolute;
            right: 30px;
            display: block !important;
            color: black;
            animation: savedAnim 0.3s ease 0s;
        }
        .cross{
            width: 15px;
            cursor: pointer;
        }
        .save{
            width: 15px;
            cursor: pointer;
        }
        input{
            padding: 4px;
            background: transparent;
            outline: none;
            border: none;
            text-align: center;
            width: 80%;
            font-weight: bold;
        }
    }
    textarea{
        padding: 10px;
        background-color:  #fcec8c;
        border: none;
        resize: none;
    }
    textarea:focus{
        outline: none;
    }
    &::after{
        content: '';
        position: absolute;
        right: -10px;
        top: 20px;
        background: transparent;
        width: 0;
        height: 0;
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
        border-left: 10px solid rgb(230, 202, 112);
    }
}
@keyframes savedAnim {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.mynotes-container{
    background: red;
}
.note-view{
    background: red;
    width: 90%;
    height: 90%;
    position: relative;
    top: 20px;
    margin: auto;
    background: #fcec8c;
    color: black;
    border-radius: 6px;
    overflow: hidden;
    .note-title{
        height: 20px;
        text-align: center;
        font-size: 1.4em;
        font-weight: bold;
        padding: 10px;
        background: #e6ca70;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .note-body-container{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .note-body{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
        overflow-y: scroll;
        padding: 20px;
        line-height: 1.5em;
    }
}

.editor{
    height: 88%;
    padding: 20px;
    .textcontainer{
        height: 95%;
        position: relative;
     }
     .save-button{
         margin: 10px;
         margin-left: 0;
        background-color: black;
        border: none;
        height: 35px;
        width: 100px;
        color: white;
        border: black;
        border-radius: 5px;
        cursor: pointer;
     }
    .quill{
        height: 90%;
    }
    .ql-container {
        color: black;
    }
}

.upload-container{
    background: #ddd;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.664);
    z-index: 10;
    height: 100%;
    width: 100%;
    .upload-box{
        position: relative;
        background: rgb(255, 255, 255);
        width: 400px;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .header{   
            background-color: gray;
            height: 22px;
            width: 100%;
            position: relative;
            img{
                width: 16px;
                position: absolute;
                right: 0;
                top: 0;
                padding: 2px;
                cursor: pointer;
            }
        span{
            font-family: 'Roboto';
            margin-bottom: 10px;
        }
    }
        form{
            padding: 10px;
            width: 80%;
            height: 60%;
            color: #1D1C1C;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            .attach{
                display: flex;
                width: 100%;
                height: 50%;
                align-items: center;
                justify-content: flex-start;
                background-color: #fcfcfc;
                box-shadow:0.1px 0.1px 1px rgba(0, 0, 0, 0.404);
                span{
                    font-family: 'Roboto';
                    margin-left: 15px;
                }
            label{
                background-color: lightblue;
                margin-left: 10px;
                height: 25px;
                width: 100px;
                cursor: pointer;
                font-family: 'Roboto';
                color: black;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow:0.1px 0.1px 1px rgba(0, 0, 0, 0.404);
            }
            input[type="file"]{
                display: none;
            }
        }
            button{
               background-color: lightblue;
               border: none;
               height: 25px;
               width: 80px;
               cursor: pointer;
               box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.404);
            }
        }

    }
}