@import url('https://fonts.googleapis.com/css?family=Roboto:400');


body{
    font-family: 'Roboto';
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    button{
        position: absolute;
        top: 30px;
        right: 50px;
        width: 90px;
        height: 30px;
        background-color: #FB5B27;
        color: white;
        border: none;
        border-radius: 30px;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.411);
        font-family: 'Roboto';
    }
    .underline{
        height: 5px;
        width: 120px;
        border-radius: 20px;
        align-self: center;
        background-color: #5A89DE;

    }
    h1{
        align-self: center;
        color: #FB5B27;
        font-size: 4em;
        margin: 0px;
    }
    span{
        align-self: center;
        margin-top: 30px;
        font-size: 1.4em;
        color: #5B4B46;
    }
    .scrolldown{
        position: absolute;
        align-self: center;
        bottom: 28px;
        display: flex;
        flex-direction: column;
        img{
            width: 15px;
            align-self: center;
        }
    }
    .design-img{
        position: absolute;
        top: 310px;
        right: -60px;
        width: 180px;
    }
    .design1-img{
        position: absolute;
        top: 100px;
        left: -60px;
        width: 180px;
    }
    .top-img{
        position: absolute;
        top: -30px;
        right: 35%;
        width: 180px;
    }
}

.data{
    width: 100%;
    display: flex;
    flex-direction: column;
    .header1{
        position: absolute;
        width: 180px;
        right: -60px;
    }
    .header2{
        position: absolute;
        width: 180px;
        left: -50px;
    }
    .item{
        align-self: center;
        display: flex;
        flex-direction: column;
        h1{
            color:  #FB5B27;
            font-size: 3.2em;
            font-weight: normal;
            margin-bottom: 0px;
        }
        p{
            align-self: center;
            color: #5A89DE;
            font-size: 1.6em;
            align-self: center;
        }
    }
    .card-containers{
        margin-top: 120px;
        align-self: center;
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: space-evenly;
        .card{
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.24);
            border-radius: 10px;
            height: 280px;
            width: 190px;
            display: flex;
            flex-direction: column;
            img{
                width: 90px;
                align-self: center;
                margin-top: 20px;
            }
            .text{
                display: flex;
                flex-direction: column;
                background-color: #FB5B27;
                margin-top: 20px;
                color: white;
                height: 100%;
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
                justify-content: space-evenly;
            span{
                align-self: center;
                font-size: 1.3em;
            }
            .details{
                align-self: center;
                padding: 0 15px 0 15px;
                font-size: 1em;
                text-align: center;
            }
        }
        }
    }
}

.create-bundle-container{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(216, 216, 216, 0.308);
    .card-container{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        .card{
            position: relative;
            border-radius: 20px;
            background: rgb(255, 255, 255);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.068);
            margin: 10px;
            width: 300px;
            height: 300px;
            transition: background-color 0.4s ease 0s;
            transition-property: width, height, transform;
            .small-card{
                height: 100%;
                width: 100%;
                display: grid;
                grid-template-rows: 2fr 5fr 1fr 2fr;
                font-family: 'Roboto', sans-serif;
                animation: fadein 0.2s ease 0s;
                .heading{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2em;
                    color: #FB5B27;
                    font-weight: bolder;
                }
                .content{
                    padding: 20px;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    color: rgb(82, 82, 82);
                    font-size: 1.4em;
                    font-weight: bold;
                }
                .subline{
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    color: rgb(82, 82, 82);
                }
                .knowmore{
                    background: #FB5B27;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    color: whitesmoke;
                    font-weight: bold;
                    font-size: 1.4em;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    cursor: pointer;
                }
            }
            .expanded-card{
                animation: fadein 0.2s ease 0s;
                display: grid;
                grid-template-columns: 1fr 2fr;
                height: 100%;
                border-radius: 10px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
                font-family: 'Roboto', sans-serif;
                .left-panel{
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    background: #FB5B27;
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    .heading{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 2em;
                        font-weight: 300;
                        color: white;
                    }.content{
                        display: flex;
                        color: whitesmoke;
                        justify-content: center;
                    }
                }
                .right-panel{
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    background: #fff;
                    display: grid;
                    grid-template-rows: 4fr 1fr;
                    .content{
                        display: flex;
                        justify-content: center;
                        font-size: 1.3em;
                        padding: 30px;
                        line-height: 1.7em;
                    }
                    .button{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        button{
                            outline: none;
                            border: none;
                            background: #FB5B27;
                            cursor: pointer;
                            padding: 10px;
                            color: white;
                            border-radius: 25px;
                        }
                    }
                }
            }
            .close{
                position: absolute;
                width: 20px;
                height: 20px;
                background: #ddd;
                border-radius: 50%;
                top: 10px;
                cursor: pointer;
                right: 10px;
                transition: background-color 0.3s ease 0s;
                &:hover{
                    background: rgb(255, 146, 146);
                }
            }
        }
        .expand{
            width: 1200px;
            height: 500px;
        }
        .shrink{
            transform: scale(0.8,0.8),
        }
    }
}
@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
